.attribute-label{width:120px;}
.attribute-value{width:85%;}

.form-row {margin:25px 0;}
.form-row .textbox{min-width:220px;}
.form-row .textbox-text {min-width:220px;}

.textbox-label {min-width:75px;}