#cc .combo-panel{height:75px;}
   	.pagination-info{width:96%;text-align:center;}
   	.pagination-page-list{margin-left:0px;}
   	textarea{border:1px solid #ccc;}
   	.easyui-accordion .accordion-collapse{float:right;}
	.panel-tool{text-align: right;}