<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<div th:if="${not #lists.isEmpty(${result.corporations)}">
	<tr><td style="height:1.5em;"></td></tr>
	<tr><td class="detail-title">Associated Corporate Entities:</td></tr>
	<th:block th:each="name,nstatus : ${result.corporations}">
		<tr><td style="padding-left:15px;">
			<p class="detail-text"><span th:text="${name.title}" /> (<b><span th:text="${name.function}" /></b>)</p>
		</td></tr>
	</th:block>
	<tr style="border-bottom: 1px solid #395AC3;"><td style="height:0.5em;"></td></tr>
</div>